{
  "presets": [
    ["env", {
      "targets": {
        "browsers": [
          "last 2 versions",
          "Android > 2",
          "last 2 ChromeAndroid versions"
        ],
        "node": 4
      }
    }],
    "stage-1",
    "react"
  ],
  "plugins": [
    "dev-expression"
  ]
}
